*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

:root{
    --softblue:hsl(231, 69%, 60%);
    --softred: hsl(0, 94%, 66%);
    --grey: hsl(229, 8%, 60%);
    --darkblue: hsl(229, 31%, 21%);
    --white: rgb(255, 255, 255);
    --lightgreen: rgb(91, 172, 131);
}

.contacthead{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    /* padding: 40px 100px; */
    flex-direction: column-reverse;

}

.contact1{
    text-align: center;
    background-color: rgba(108, 131, 141, 0.897);
    /* padding:100px; */
    width: 100%;
    height: 50%;
}

.contact1 h1{
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
    color: var(--white);
}

.contact1 h2:nth-of-type(1) {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    color: var(--white);
}

.contact1 h2:nth-of-type(2) {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    color: var(--white);
}

.form{
    background-color: rgba(108, 109, 141, 0.13);
    padding: 100px;
    margin: 20px auto;
}

.form p:nth-of-type(1){
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--softblue);
}


.form p:nth-of-type(2){
    font-size: 16px;
    padding: 20px 0 10px;
    color: var(--softblue);
}

.email{
    width: 100%;
    height: 40px;
    border: 1px solid var(--softblue);
    border-radius: 5px;
    outline: none;
    padding-left: 16px;
    color: var(--darkblue);
}

.text{
    width: 100%;
    height: 10rem;
    outline: none;
    border: 1px solid var(--softblue);
    border-radius: 5px;
    padding: 16px;
}

.submit{
    width: 100%;
    height: 40px;
    border: 1px solid var(--softblue);
    border-radius: 5px;
    outline: none;
    padding-left: 16px;
    margin-top: 20px;
    font-size: 16px;
    color: var(--darkblue);
    font-weight: 600;
}

.submit:hover{
    background-color: var(--grey);
    color: var(--white);
    border: transparent;
}


.navToggle{
    display: none;
}

.open{
    filter:invert(1) sepia(1) saturate(1) brightness(200);
    width: 90% !important;
}

.close{
    filter:invert(1) sepia(1) saturate(1) brightness(200);
    width: 90% !important;
}

.navHeader img{
    display: none;
} 

.navlinks .ca{
    display: none;
}



@media screen and (max-width: 576px) {
.form{
    padding: 75px;
}

.contact1 h1{
    font-size: 25px;
}

.contact1 h2:nth-of-type(2){
    font-size: 25px;
}


.navHeader img{
    display: block;
}


.navHeader{
    display: flex;
    gap: 160px;
}

.navToggle{
    display: block;
}

.close{
    display: none;
}

.navlinks{
    position: fixed;
    left: 50%;
    top: -120%;
    transform: translate(-50%, 0%);
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 30px 0;
    flex-direction: column;
    background-color: rgb(96, 96, 105);
    transition: .5s;
    z-index: 999;
    justify-content: flex-start;
    gap: 20px;       
}

.log a{
    color: var(--softred) !important;
}

.log a:hover{
    color: var(--white) !important;
}

.navlinks a{
    color: var(--white);
}

.navlinks .ca{
    display: block;
}

}


@media screen and (max-width: 375px){
.form{
    padding: 30px;
}
}
